<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Add a New Task</h1>
        <h3> <a href="/"> Home</a>
            <a href="/newTask"> New Task</a>
            <a href="/listTasks"> List All Tasks</a>
            <a href="/updateTask"> Update Task </a>
            <a href="/deleteTask"> Delete Task </a>
            <a href="/clearCompleted"> Clear Completed Tasks </a>
            <a href="/newDev"> Add New Dev</a>
            <a href="/listDevs"> List Developers</a>
        </h3>

    <form action ="/devData" method="POST">
        First Name: <input type="text" name="dFirst" /> </br>
        Last Name: <input type="text" name="dLast" /> </br>
        Level: 
        <select name="selLev">
            <option value = "BEGINNER">BEGINNER</option>
            <option value= "EXPERT">EXPERT</option>
        </select>
        </br>
        State: <input type="text" name="DAstate" /> </br>
        Suburb: <input type="text" name="DAsub" /> </br>
        Street: <input type="text" name="DAstreet" /> </br>
        Unit: <input type="text" name="DAunit" /> </br>

        <button>Submit</button>
    </form>
</body>
</html>