<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Add a New Task</h1>
        <h3> <a href="/"> Home</a>
            <a href="/newTask"> New Task</a>
            <a href="/listTasks"> List All Tasks</a>
            <a href="/updateTask"> Update Task </a>
            <a href="/deleteTask"> Delete Task </a>
            <a href="/clearCompleted"> Clear Completed Tasks </a>
            <a href="/newDev"> Add New Dev</a>
            <a href="/listDevs"> List Developers</a>
        </h3>

    <form action ="/data" method="POST">
        Task Name: <input type="text" name="taskName" /> </br>
        Assigned to: <input type="text" name="tassigned" /> </br>
        Task Due: <input type="date" name="taskDue" /> </br>
        Task Status: 
        <select name="selectStatus">
            <option value = "In Progress">In Progress</option>
            <option value= "Complete">Complete</option>
        </select>
        </br>
        Task Desc: <input type="text" name="taskDesc" /> </br>

        <button>Submit</button>
    </form>
</body>
</html>