<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Update Task</h1>
    
    <h3> <a href="/"> Home</a>
        <a href="/newTask"> New Task</a>
        <a href="/listTasks"> List All Tasks</a>
        <a href="/updateTask"> Update Task </a>
        <a href="/deleteTask"> Delete Task </a>
        <a href="/clearCompleted"> Clear Completed Tasks </a>
    </h3>

    <form action="/updateTaskData" method="POST">
        Task ID: <input type="number" method="POST" name="taskID" /> </br>

        Updated Task Status: 
        <select name="selectStatus2">
                <option value= "In Progress">In Progress</option>
                <option value= "Complete">Complete</option>
        </select>
        </br>
        <!-- <input type="text" method= "POST" name="newTaskStatus" /> <br> !-->

        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>